.cabecalho{
    background-color: #66615B;
    padding: 23px;
    width: 100%;
}

.cabecalho h2{
    font-size: 1.3rem;
    margin: 0 20px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}

.cabecalho svg{
    font-size: 30px;
    color: #FFFFFF;
}